<h3>以下の内容で、投稿してもよいですか？</h3>
<%= form_with(model: @picture, url: new_picture_path, local: true, method:"get") do |form| %>
  <p>投稿者:<%= @picture.user.name %></p>
  <p>Title:<%= @picture.title %></p>
  <p>Content:<%= @picture.content %></p>
  <%= image_tag (@picture.image.url) if @picture.image && @picture.image.url %>
  <%= form.hidden_field :image_cache %>
  <% end %>
<%= form_with(model: @picture, url: pictures_path, local: true) do |form| %>
  <%= form.hidden_field :user_name %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "投稿する" %>
  <%= form.submit "戻る", name: "back" %>
<% end %>

  
